@media (max-width: 480px) {
   input, 
   input[type=password],
   input[type=email],
   input[type=tel],
   select {
        width: 100%;               
        padding: 15px;
        margin: 0 0 10px 0;        
        display: inline-block;
        border: none;
        background: #f1f1f1;
        box-sizing: border-box;    
        font-size: 16px; 
    }
}

@media (min-width: 480px) and (max-width: 720px){
       input, 
   input[type=password],
   input[type=email],
   input[type=tel],
   select {
        width: 100%;               
        padding: 15px;
        margin: 0 0 10px 0;        
        display: inline-block;
        border: none;
        background: #f1f1f1;
        box-sizing: border-box;    
        font-size: 16px; 
    }
}