
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --body-bg-color: #000000; 
  --primary-color:  #ffa500; 
  --secondary-color: #ffffff;
  font-size: 16px;
  
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" , sans-serif;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevents iOS from auto-resizing text */
  font-size: 100%; /* Respects user browser settings */
  scroll-behavior: smooth;
}
body {
    position: relative;
    background-image: url(assets/useraccess.jpg);
    background-size: cover;

  /* Centers the image so focal point is visible */
  background-position: center;

  /* Prevents tiling if image is small */
  background-repeat: no-repeat;

  /* Optional: Fixes background so content scrolls over it */
  background-attachment: fixed;

    line-height: 1.5; /* Essential for readability on mobile */
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

.access-container {
    background: none;
    padding: 25px;
    max-width: 400px;
    width: 100%;
    margin-top: 100px;
}
h2,
h3 {
    color: var(--secondary-color);
    font-family: sans-serif;
    padding: 2px;
    text-align: left;  
}

h3 {
    font-weight: 300;
}

/* This section controls the Sign In button layout */
.button{
    display: flex; /* Aligns the two buttons horizontally */
    gap: 15px; /* Space between the sign-in button and the fingerprint button */
    margin: 40px 0; 
    
}
.login-button {
    flex-grow: 1; /* This makes the sign-in button take up all available extra space, making it large */
    padding: 12px;
    background-color: #ccc; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
}

.login-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.register-button {
    flex-grow: 1; /* This makes the sign-in button take up all available extra space, making it large */
    padding: 12px;
    background-color: var(--primary-color); 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
}

.register-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
